html body{
  height:100vh;
  width:100vw;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableinput{
  padding: 3px;
  text-align: center;
}
.tablestyle{
  border-collapse: collapse;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  height: auto;
  max-height:65vh;
  max-width: 70vw;
  margin-top: 8px;
  flex-wrap: wrap;
  overflow: auto;
}
.theadstyle{
  background-color: whitesmoke;
  line-height: 40px;
}

.theadstyle tr th {
  background-color: whitesmoke;
  min-width: 155px;
  border:1px solid gray;
}
.topstyle{
  margin-top:4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 57px;
  overflow: auto;
  /* align-items: center; */
  flex-wrap: wrap;
  /* background-color: white; */
 
}
.topstyle button{
  margin:5px;
}

.nonestyle{
  display: none;
}
.titlestyle{
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  /* min-width:193px; */
  flex-wrap: wrap;
}
.filetypestyle{
  color: black;
  margin:5px;
  padding: 10px;
  height:40px;
  border: 1px ridge rgb(227, 219, 219);
  white-space: nowrap;
}

.titletext{
  color: rgba(0, 0, 255, 0.579);
}
.biggertext{
  font-size:medium;
  font-weight:300;
}
