.departcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timestyle {
    color: gray;
    font-size: 14px;
}

.departstyle {
    background-color: white;
    min-width: 200px;
    flex: 1;
    height: 225px;
    overflow: auto;
}

.homecontent {
    min-height: 100%;
}